data
.virtual_documents
yourtube/.ipynb_checkpoints
yourtube/junkyard/.ipynb_checkpoints
.ipynb_checkpoints
dist
commit_message.txt
.vscode
*.ipynb
tests/G_example.pickle
tests/nodes_to_cluster_example.pickle
tmp.txt
.venv
yourtube.egg-info
__init__.py.lprof
dendrogram.png
rust_krakow/target
rust_krakow/Cargo.lock
**/__pycache__
